<!DOCTYPE html>

<head>
    <title>Login Page</title>
    <script>
        localStorage.setItem('usernames', [])
        localStorage.setItem('current_user', '')

        document.addEventListener('DOMContentLoaded', () => {

            document.querySelector('h1').innerHTML = 'Want to access the Chat? Login first!';
            document.querySelector('#known_users_list').innerHTML = 'Known users :';
            document.querySelector('#login').innerHTML = 'Login :';

            // Displaying registered users
            document.querySelector('#users_list').innerHTML = () => {

            };

            // Form submiting   
            document.querySelector('#form_username').onsubmit = () => {

                if (document.querySelector('#username').value.length > 0) {
                    username = document.querySelector('#username').value;

                    // New user
                    if (!localStorage.getItem('usernames').includes(username)) {
                        updated_list = localStorage.getItem('usernames').append(username);
                        localStorage.setItem('usernames', updated_list);

                        const item = document.createElement('li');
                        item.innerHTML = document.querySelector('#task').value;

                        document.querySelector('#tasks').append(item);
                    }

                    localStorage.setItem('current_user', username);

                    // Redirect user to the chat page
                    window.location.href('https://www.w3schools.com');

                }
                else {
                    alert('Please enter a non empty username!');
                }
            };
        });        
    </script>
</head>

<body>
    <h1></h1>

    <h2 id='known_users_list'></h2>
    <ul id=users_list></ul>

    <h2 id='login'></h2>
    <form id='form_username'>
        <input id='username' type='text' autocomplete='off' autofocus placeholder='Enter username'>
        <input id='send_username' type='submit' onclick=></input>
    </form>

    <a href="{{ url_for('chat') }}">Go to the chat here</a>

    <div>
        <br />
        <img src='static/web.jfif' height='400'>
    </div>
</body>

</html>